* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  user-select: none;
  overflow: hidden;
}

body {
  position: fixed;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.pointer {
  color: gray;
  font-size: 30px;
  font-weight: 900;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: .7;
}

.texture-selector {
  position: absolute;
  background: lightgray;
  padding: 7px;
  border: 2px solid #000;
  bottom: 1%;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  gap: 8px;
  z-index: 100;
}

.texture-selector img {
  width: 50px;
  image-rendering: pixelated;
  border: 2px solid transparent;
}

.texture-selector img.selected {
  border-color: red;
}